@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;800&display=swap");

:root {
  font-family: 'Poppins', sans-serif;
  background-color: #e0dfd7;
}

.add-new {
  display: block;
  width: 130px;
  padding: 8px;
  margin: 10px auto;
  border: none;
  border-radius: 5px;
  color: #888;
  cursor: pointer;
}

.new-recipe-container {
  position: relative;
  width: 100%;
  margin: auto;
}

#error-box {
  display: none;
  position: absolute;
  top: 50px;
  left: calc(50%);
  transform: translateX(-50%);
  color: red;
}

#backBtn {
  display: block;
        width: 120px;
        padding: 8px 0;
        border: 0;
        border-radius: 5px;
        cursor: pointer;
        margin: 20px auto;
        text-align: center;
        font-size: 1rem;
        background-color: rgb(188, 188, 188);
}

#addNewRecipeForm {
  width: 100%;
  margin-top: 50px;
}

#addNewRecipeForm input {
  display: block;
  width: 300px;
  height: 25px;
  margin: 10px auto;
  border: none;
  border-bottom: 1px solid transparent;
  text-indent: 10px;
}

#addNewRecipeForm input:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid rgb(188, 188, 188);
}

#recipeIngredient {
  display: block;
  width: 300px;
  min-height: 350px;
  margin: auto;
  border: none;
  text-indent: 10px;
}

#recipeIngredient:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid rgb(188, 188, 188);
}

#recipeSubmit {
  border-radius: 5px;
  cursor: pointer;
  height: 34px !important;
  color: green;
}

/* Media */

@media all and (min-width: 576px) {
  #recipeIngredient {
  width: 500px;
  min-height: 500px;
  }
}

@media all and (min-width: 992px) {
  #recipeIngredient {
  width: 800px;
  }
}

@media all and (min-width: 1200px) {
  #recipeIngredient {
  width: 1000px;
  }
}